@charset "utf-8";
/* CSS Document */

table.menu          { border-collapse: collapse; text-align: center; border: 1px solid #FFD700; } 

td.menu             { border-collapse: collapse; text-align: center; border-left: 1px solid #cc9933; }

#menu               {
                      height: 30px;
                      margin: 0 auto;
                      font-family: Verdana, Arial, Helvetica, sans-serif;
                    }

#menu ul            {
                      margin: 0;
                      padding: 0;
                      list-style: none;
                    }

#menu li            {
                      padding: 0;
                      display: inline;
                      background: none;
                    }

#menu a             {
                      display: block;
                      float: left;
                      height: 25px;
                      text-decoration: none;
                      font-weight: bold;
                      border-right: 1px solid #FFD700;
                    }

#menu a:visited, active 
                    { text-decoration: none; }

#menu a:hover       { text-decoration: none; }

#menu b             { text-decoration: underline; }



/* ######### Default class for drop down menus ######### */

.anylinkcss         {
                      position: absolute;
                      left: 20;
                      top: 0;
                      visibility: hidden;
                      margin-top: 2;
                      margin-left: -2;
                      border: 0;
                      font: normal 12px Verdana, Arial, Helvetica, sans-serif;
                      line-height: 18px;
                      z-index: 100; /* zIndex should be greater than that of shadow's below */
                      width: 190px; /* default width for menu */
                      filter: alpha(opacity=100);
                    }

.anylinkcss ul      {
                      margin: 0;
                      margin-left: 0;
                      padding: 0;
                      filter: alpha(opacity=100);
                      list-style: none;
                      list-style-type: none;
                      list-style-position: inside;
                    }

.anylinkcss ul li a {
                      width: 99%;
                      display: block;
                      font: normal 12px Arial, Helvetica, sans-serif;
                      border: 1px solid #FFD700;
                      border-top: 0;
                      padding: 5px 0px 10px 0px;
                      text-decoration: none;
                      font-weight: bold;
                      filter: alpha(opacity=100);
                      list-style: none;
                      list-style-type: none;
                      list-style-position: inside;
                    }

.anylinkcss a       { filter: alpha(opacity=100); }

.anylinkcss a:hover { filter: alpha(opacity=100); }



/* ######### Alternate multi-column class for drop down menus ######### */


.anylinkcsscols     {
                      position: absolute;
                      left: 0;
                      top: 0;
                      visibility: hidden;
                      border: 1px solid #006699;
                      padding: 0;
                      font: normal 10px Verdana;
                      z-index: 100; /*zIndex should be greater than that of shadow's below*/
                    }

.anylinkcsscols .column
                    {
                      width: 130px;
                      float: left;
                    }

.anylinkcsscols .column ul
                    {
                      margin: 0;
                      padding: 0;
                    }

.anylinkcsscols li  { padding-bottom: 3px; }



/* ######### class for shadow DIV ######### */


.anylinkshadow      { /*CSS for shadow. Keep this as is */
                      position: absolute;
                      left: 0;
                      top: 0;
                      z-index: 99; /*zIndex for shadow*/
                      visibility: hidden;
                    }



/* ######### FIX per hspace ######### */

img[align="right"]  {
                      margin: 0 0 10px 10px;
                      display: inline;
                    }

img[align="left"]   {
                      margin: 0 10px 10px 0;
                      display: inline;
                    }





.navigation li a:hover, .subnavigation li a:hover, .main_nav_active, .sub_nav_active 
                    {
                      color: #000000;
                      background-color: #ff0000;
                      cursor: pointer;
                    }

.main_nav_active a, .sub_nav_active a 
                    { color: #ff0000; }

.nav li a:hover     {
                      color: #ffffff;
                      cursor: pointer;
                    }

#nav_btn            {
	              font-size: 12px;
                      text-decoration: none;
	              position: relative;
	              height: 27px;
                      color: #FFD700;
                    }

#nav_btn ul         {
	              padding: 0px;
	              margin: 0px;
                    }

#nav_btn .nav li    {
	              position: relative;
	              height: 27px;
	              text-align: center;
                      text-decoration: none;
	              list-style: none;
	              list-style-position: outside;
	              float: left;
	              width: 170px;
	              padding: 2px;
                    }

#nav_btn .nav  li a {
	              display: block;
                      text-decoration: none;
	              height: 27px;
                      color: #FFD700;
                    }

#nav_btn .nav li a:hover 
                    {
                      text-decoration: none;
                      color: #ffffff;
                      cursor: pointer;
                    }

.lang li a:hover     
                    {
                      cursor: pointer;
	              text-align: right;
	              line-height: 14px;
                    }

#lang_btn           {
                      text-decoration: none;
	              position: relative;
	              height: 27px;
                    }

#lang_btn ul        {
	              padding: 0px;
	              margin: 0px;
                    }

#lang_btn .lang li  {
	              position: relative;
	              height: 27px;
	              text-align: center;
                      text-decoration: none;
	              list-style: none;
	              list-style-position: outside;
	              float: left;
	              padding: 2px;
	              text-align: right;
	              line-height: 14px;
                    }

#lang_btn .lang  li a 
                    {
	              display: block;
                      text-decoration: none;
	              text-align: right;
	              line-height: 14px;
	              height: 14px;
                    }

#lang_btn .lang li a:hover 
                    {
                      text-decoration: none;
                      cursor: pointer;
	              text-align: right;
	              line-height: 14px;
                    }
